body {
    background: linear-gradient(to bottom, #fffff4, #f0d077);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.container {
    display: inline-block;
    border: 2px solid #777; 
    padding: 10px;
    width: 1450px;
}

h1 {
    background-color: #ffffff;
    text-align: center;
    border: 2px solid #777;
    padding: 10px;
}

h2 {
    text-align: left;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    border: 2px solid #777;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    border: 1px solid #777; 
    text-align: center;
}

.item1 {
    grid-column: span 3;
    background-color: #ffffff;
    height: 550px;
}
#bioh1{
    background-color: #fff3dc;
}

.item2 {
    background-color: #ffffff;
}
.item3{
    background-color: #ffffff;
}
.item4{
    background-color: #ffffff;
}
#footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
    padding: 10px;
}